body{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
  }
  
  .container{
    width: 100%;
}



